@using HairSalonList.Models;

<h3>Here are all the clients for this Stylist:</h3>

<h3>Name: @Model.Name<br>
Description: @Model.Description</h3>
<ol>

@foreach (Client client in @Model.GetClients())
{
  <li><a href='/stylists/@Model.Id/clients/@client.Id'>@client.Name</a></li>
}
</ol>
<h3>Stylist description:</h3>



<form action="/stylists/@Model.Id/delete" method="post">
  <button type="submit" name="button">Remove This Stylist</button>
</form>

<p><a href='/stylists/@Model.Id/clients/new'>Add a new client</a></p>
<p><a href='/stylists'>Return to stylist list</a></p>
<p><a href='/'>Return to Main Page</a></p>
